{% extends 'mainapp/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="my-container">
        <table class="table table-bordered" border="1">
            <thead>
                <th class="name-col bg-light">User</th>
                {% for i in 31|get_list %}
                    <th class="day"><a href="#" data-toggle="modal" data-target="#modal">{{ forloop.counter }}</a></th>
                {% endfor %}
                <th class="total-col bg-light">Monthly total</th>
            </thead>
            {% for object in object_list %}
                <tr>
                    <td class="name-col bg-light">{{ object.name }}</td>
                    {% for day in object.day_set.all %}
                        <td><span class="time">{{ day.get_time }}</span></td>
                    {% endfor %}
                    <td class="total-col bg-light">{{ object.get_total_time }}</td>
                </tr>

            {% endfor %}
            <tr>
                <td></td>
                {% for i in 31|get_list %}
                    <td>
                        <a href="{% url 'sorted' page_obj.number 'up' forloop.counter %}">&uArr;</a><br>
                        <a href="{% url 'sorted' page_obj.number 'down' forloop.counter %}">&dArr;</a>
                    </td>
                {% endfor %}
            </tr>
        </table>

        <div class="paginator">
            {% if page_obj.has_previous %}
                <a href="{% url 'table' page_obj.previous_page_number %}"><</a>
            {% endif %}
            <span class="'current">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="{% url 'table' page_obj.next_page_number %}">></a>
            {% endif %}
        </div>

        <form action="{% url 'search_by_name' %}" method="get">
            {% csrf_token %}
            <label for="nameFind">Поиск по имени</label>
            <input name="searchname" id="nameFind">
            <button type="submit" class="search">Искать</button>
        </form>

        <div class="modal" id="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="msg"></div>
                  <button type="button" class="btn btn-primary" id="cancel" data-dismiss="modal">Close</button>
              </div>
            </div>
        </div>
    </div>
{% endblock %}